.search_container {
    display: flex;
    justify-content: center;
    padding: 1rem .8rem;
    gap: 25px;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: #181818;
}

.form_field {
    display: flex;
    gap: .5rem;
    align-items: center;
}

label {
    font-weight: bold;
    color: #fdfdfd;
    font-size: .9rem;
}

input, select {
    padding: 0.2rem .75rem;
    border: none;
    color: rgb(83, 83, 83);
    border-radius: 3px;
    box-shadow: rgba(99, 99, 99, .2) 0px 4px 8px 1px;
}




@media screen and (max-width:590px) {
  
    .search_container{
        min-width: none;
        width: 100%;
        gap: 15px;
    }
    
    label{
        font-size: .8rem;

    }

    input, select{
        max-width: 100px;
        font-size: 0.7rem;
    }
}

@media screen and (max-width:390px) {
  
    .search_container{
        padding: 10px;
    }
   
    input, select{
        width: 75px;
    }

}